# Игнорировать все файлы
*

# Но не игнорировать каталог .gitignore, чтобы правила игнорирования применялись ко всем файлам, кроме main.cpp
!.gitignore

# Исключить main.cpp из игнорируемых файлов
!main.cpp
!CMakeLists.txt
!start.sh